{% extends "AduanaBundle:Default:layouts.html.twig"%}  


{%block content %} 


    <div class="col-lg-6 box-form">

        <h2> Agregar concepto </h2>
        
          {{form_start(form,{'action':'','method':'POST'})}}
         
         

         {{form_end(form)}}

        <div class="clearfix"></div>
    
    </div>



    


{% endblock %}
