{% extends "AduanaBundle:Default:layouts.html.twig"%}  


{%block content %} 


    <div class="col-lg-4 box-form">

        <h2>Añadir Clientes</h2>

        {{form_start(form,{'action':'','method':'POST'})}}

        {{form_end(form)}}

    </div>

    
    <div class="clearfix"></div>


{% endblock %}

