
<div class="row">
     
    
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        
        <a class="btn btn-info" href="{{path("blog_ver_fac")}}">Todos los recibos</a>
    
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">  
    
        <a class="btn btn-primary" href="{{path("blog_add_fac")}}">Añadir Facturas</a>  
    
    </div>
        
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

        <a class="btn btn-danger " href="{{path("blog_verAnul_fac")}}">Facturas anuladas</a>

    </div>
        
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

        <a class="btn btn-success" href="{{path("blog_verRes_fac")}}">Facturas reservadas</a>

    </div>
  

</div>










